
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Newpage1</title>
</head>
<body>
    <div>
       <h1>Welcome</h1>
        @Session["Email"].ToString() 
        
        @Session["Password"].ToString() 
    </div>
</body>
</html>
